@import "normalize";
@import "fonts";

$color_off_white: #f6f6f6;
$light-gray: #e3e3e3;
$medium-gray: #c0c0c0;
$dark-gray: #727272;
$black: #111111;
$primary_light: #6ee798;
$primary_mid: #2b6a35;
$primary_dark: #133113;
$highlight: #54c3ff;


* {
    border-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: $primary_light;
    font-family: 'Press Start 2P', cursive;

    font-size: 16px;
}

h1 {
    color: $primary_mid;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-style: italic;
}

a {
    padding: 0;
}

#root-container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#menu {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.flex-box {
    display: flex;
    justify-content: space-around;
}

.row {
    min-height: 2rem;
    margin: 1rem 0.5rem 0 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.single-row {
    min-height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.half-row-width {
    width: 50%;
}

.width-1-2 {
    width: 50%;
}

.width-1-4 {
    width: 25%;
}

#stats-container {
    max-width: 400px;
}

.direction-button {
    margin: 0.25rem;
    outline: none;
    border: none;
    border-radius: 4px;
    border-bottom: 1rem solid $medium-gray;

    font-size: 2rem;
    color: $primary_mid;

    background-color: $light-gray;

    transition: border-bottom 250ms;

    &:hover, &:focus  {
      border-bottom: 0.75rem solid $medium-gray;
      cursor: pointer;
    }

    &:hover path  {
      fill: $highlight;
    }

    &:active {
      border-bottom: 0.5rem solid $medium-gray;
    }

}

.arrow {
  width: 100%;

  & path {
    fill: $dark-gray;
  }
}

#direction-pad {
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 10rem;
    width: 10rem;
}

.direction-pad-row {
    display: flex;
    justify-content: center;
  align-items: flex-end;
  min-height: 4rem;
}

.heart-img {
    fill: $primary_dark;
    width: 20%;
}

.icon-link {
    outline: none;
    vertical-align: middle;
    text-decoration: none;

}

#github-icon {
    border: 2px solid transparent;
    fill: $primary_dark;
    width: 24px;
    height: 24px;
}

#score {
    vertical-align: top;
    color: $black;
    line-height: 24px;
    font-size: 16px;
}

