doctype html
html(lang='en')
    head
        title Arcade Game | Front-End Nanodegree

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        link(href='images/arcade-game-favicon.ico' rel='icon' type='image/x-icon')

        // build:css stylesheets/css/main.min.css
        link(href='stylesheets/css/main.css' rel='stylesheet')
        // endbuild
    body

        #root-container
            #menu
                header.row
                    h1 Arcade Game
                #stats-container.row
                    .width-1-4
                        include ../images/svg/running-man-icon.svg
                        span#score.half-row-width 0

                    #lives.half-row-width.single-row
                        - for (var i = 0; i < 5; i++)
                            img.heart-img(src='images/svg/heart.svg')

                    .width-1-4
                        a.icon-link(title='Source Code' href='https://github.com/mggwxyz/frontend-nanodegree-arcade-game')
                            include ../images/svg/github-icon.svg

            #game.flex-item

            #direction-pad
                .direction-pad-row
                    button#up-arrow.direction-button
                        include ../images/svg/up-arrow.svg
                .direction-pad-row
                    button#left-arrow.direction-button
                        include ../images/svg/left-arrow.svg
                    button#down-arrow.direction-button
                        include ../images/svg/down-arrow.svg
                    button#right-arrow.direction-button
                        include ../images/svg/right-arrow.svg


        //build:js js/main.min.js
        script(src='js/resources.js')
        script(src='js/app.js')
        script(src='js/engine.js')
        //endbuild