@import "normalize";

$color_off_white: #f6f6f6;
$color_light_green: #10f09e;
$color_mid_green: #10CA7E;
$color_dark_green: #114632;

* {
    border-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #c5ffe7;
    font-family: 'Courier';
    color: $color_dark_green;
    font-size: 16px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-style: italic;
}

#root-container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#menu {
    //background-color: $color_dark_green;
    display: flex;
    flex-direction: column;
}

.flex-box {
    display: flex;
    justify-content: space-around;
}

#stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stat {
    justify-content: center;
    align-items: flex-end;
}

#lives {
    justify-content: center;
    align-items: center;
}

#lives-count {
    font-size: 1rem;
}

.direction-button {
    border: none;
    border-radius: 0.2rem;
    font-size: 2rem;
    color: $color-dark_green;
    background-color: #10CA7E;
    transition: background-color 100ms, color 100ms;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background-color: $color_dark_green;
        color: $color_light_green;
    }

}

#direction-pad {
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 10rem;
    width: 10rem;
}

.direction-pad-row {
    display: flex;
    justify-content: space-around;
}

.heart-img {
    width: 2rem;
}

svg .icon {
    fill: $color_dark_green;
}

svg:hover .icon {
    fill: #333333;
}

a:focus .icon {
    fill: #333333;
}

.icon-link {
    text-decoration: none;

    &:hover, &:hover {
        text-decoration: none;
    }
}